<!doctype html>
<html lang="en">

<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/linearicons/style.css">
    <link rel="stylesheet" href="vendor/chartist/css/chartist-custom.css">
    <!-- 文件上传 css -->
    <link rel="stylesheet" href="vendor/css/fileinput.min.css">
    <link rel="stylesheet" href="vendor/css/dataTables.bootstrap.min.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="vendor/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="vendor/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
    <style>
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            vertical-align: middle;
        }
    </style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <h3 style="margin-top:0px;margin-bottom: 0px;"> 圣奥化学</h3>
        </div>
        <div class="container-fluid">
            <div class="navbar-btn">
                <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
            </div>
            <form class="navbar-form navbar-left" style="display:none">
                <div class="input-group">
                    <input type="text" value="" class="form-control" placeholder="Search dashboard...">
                    <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                </div>
            </form>
            <p class="navbar-text navbar-right" style="font-size: 40px;margin-right: 15px;">生产计划及运输安排优化模型</p>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
            <nav>
                <ul class="nav">

                    <li><a href="/home" class="active"><i class="lnr lnr-home"></i> <span>模型数据导入/导出</span></a></li>
                    <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-bookmark"></i> <span>工厂基本信息</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                            <ul class="nav">
                                <li><a href="/proCapacity" class=""><i class="lnr lnr-file-empty"></i> <span>产能</span></a></li>
                                <li><a href="/pacCapacity" class=""><i class="lnr lnr-file-empty"></i> <span>包装能力</span></a></li>
                                <li><a href="/proType" class=""><i class="lnr lnr-file-empty"></i> <span>产品品种</span></a></li>
                                <li><a href="/page6PPDCost" class=""><i class="lnr lnr-file-empty"></i> <span>6PPD单位生产成本</span></a></li>
                                <li><a href="/safeStock" class=""><i class="lnr lnr-file-empty"></i> <span>产品安全库存</span></a></li>

                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-bookmark"></i> <span>物流基本信息</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages2" class="collapse ">
                            <ul class="nav">
                                <li><a href="/transCost" class=""><i class="lnr lnr-file-empty"></i> <span>运输配送报价</span></a></li>
                                <li><a href="/conRout" class=""><i class="lnr lnr-file-empty"></i> <span>固定约束路线</span></a></li>
                                <li><a href="/location" class=""><i class="lnr lnr-file-empty"></i> <span>中转仓和客户点分布</span></a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="/preOrder" class=""><i class="lnr lnr-file-empty"></i> <span>订单计划</span></a></li>
                    <li><a href="/result" class=""><i class="lnr lnr-file-empty"></i> <span>生产运输安排优化结果</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">

                <div style="    margin: 10px 0px 25px 0px;">
                     <a class="btn btn-success update-pro" href="excelDownload" title="运行模型" target="_blank">
                            <i class="fa fa-rocket"></i> <span>运行模型</span></a>
                </div>

                <table id="optResultTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>

                    <tr>
                        <th>发货计划单号</th>
                        <th>客户</th>
                        <th>产品类型SKU</th>
                        <th>执行生产工厂</th>
                        <th>生产量</th>
                        <th>运输路线</th>
                        <th>综合成本(生产成本+物流成本)</th>
                        <th>月份</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!--
                    <tr>
                        <td rowspan="3" style="text-align: center;vertical-align: middle;">oder111</td>
                        <td rowspan="3" style="text-align: center;vertical-align: middle;">customer1</td>
                        <td>25Kg</td>
                        <td>曹县厂</td>
                        <td>10</td>
                        <td>香港-广州</td>
                        <td>100</td>
                        <td>2018/2</td>
                    </tr>
                    <tr>
                        <td>25Kg</td>
                        <td>泰安厂</td>
                        <td>20</td>
                        <td>泰安-广州</td>
                        <td>1111</td>
                        <td>2018/2</td>
                    </tr>
                    <tr>
                        <td>25Kg</td>
                        <td>铜陵厂</td>
                        <td>20</td>
                        <td>铜陵-广州</td>
                        <td>22</td>
                        <td>2018/2</td>
                    </tr>
                    <tr>
                        <td rowspan="3" style="text-align: center;vertical-align: middle;">oder112</td>
                        <td rowspan="3" style="text-align: center;vertical-align: middle;">customer2</td>
                        <td>25Kg</td>
                        <td>曹县厂</td>
                        <td>10</td>
                        <td>香港-广州</td>
                        <td>100</td>
                        <td>2018/2</td>
                    </tr>
                    <tr>
                        <td>25Kg</td>
                        <td>泰安厂</td>
                        <td>20</td>
                        <td>泰安-广州</td>
                        <td>1111</td>
                        <td>2018/2</td>
                    </tr>
                    <tr>
                        <td>25Kg</td>
                        <td>铜陵厂</td>
                        <td>20</td>
                        <td>铜陵-广州</td>
                        <td>22</td>
                        <td>2018/2</td>
                    </tr>

                    -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="vendor/chartist/js/chartist.min.js"></script>
<script src="scripts/klorofil-common.js"></script>
<script src="js/fileinput.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" src="js/dataTables.bootstrap.min.js"> </script>

<!-- js for table -->
<script>
    $(document).ready( function () {

        $('#optResultTable').DataTable({
            columns : [
                {data: 'orderNo'},
                {data: 'customerName'},
                {data: 'skuNo'},
                {data: 'factoryName'},
                {data: 'amount'},
                {data: 'transferRoute'},
                {data: 'terminalCost'},
                {data: 'date'}
            ],
            ajax : {
                type: "get",
                url: "/getOptResultTableData",
                dataSrc: ""
            },
            columnDefs: [{
                targets: [0,1], //要合并的列数（第1，2列）
                createdCell: function (td, cellData, rowData, row, col) { //重要的操作可以合并列的代码
                    var rowspan = rowData.merge;//这里主要是利用了模拟数据中的merge来控制
                    if (rowspan > 1) { //这里做的判断。相信大家也能看懂的。
                        $(td).attr('rowspan', rowspan)
                    }
                    if (rowspan == 0) {
                        $(td).remove();
                    }
                }
                //"data": "culture_title",
                //"render": function (data, type, full) {
                 //   return "<span title='" + data + "'>" + data + "</span>";
                //}
            }],
            lengthMenu: [ 25, 50, 100 ],
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }
        });
        $('#optResultTable').DataTable();
    } );

</script>
</body>

</html>
